<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" *ngIf="isAdmin">
        <ion-back-button defaultHref="/survey"></ion-back-button>
      </ion-buttons>
      <ion-title>Survey</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="6" offset-sm="3" text-center>
            <ion-card *ngIf="survey && isValid">
              <ion-card-header>
                <ion-card-title>{{ survey.title }}</ion-card-title>
                <ion-card-subtitle>Until {{ survey.dateTo | date:'MMM d, y, h:mm a'}} only</ion-card-subtitle>
              </ion-card-header>
              <ion-img [src]="survey.imgUrl"></ion-img>
              <ion-card-content>
                <p>{{ survey.description }}</p>
              </ion-card-content>
              <div>
                <ion-button fill="clear" color="primary" [routerLink]="['/userSurvey', userId, 'questions', surveyId]">Start Survey</ion-button>
              </div>
            </ion-card>
            <ion-card *ngIf="!isValid">
              <ion-card-header>{{ message }}</ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
